name: Deploy to Vercel Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Vercel CLI
        run: npm install -g vercel

      - name: Deploy to Vercel (Production)
        run: |
          export VERCEL_PROJECT_ID=${{ secrets.VERCEL_PROD_PROJECT_ID }}
          export VERCEL_ORG_ID=${{ secrets.VERCEL_PROD_ORG_ID }}
          export VERCEL_TOKEN=${{ secrets.VERCEL_TOKEN }}

          vercel --yes --prod --token $VERCEL_TOKEN